<!-- make use of partials - they dont take much time to implement -->

<% if flash[:notice] %>
   <br><div class="notice"><%= flash[:notice] %></div>
 <% end %>

<h2> User Name: <%= @user.name %> </h2>

<h3> User Bio: <%= @user.bio %> </h3>

<%= image_tag @user.img_url , size: "90", alt: "user_avatar" %>

<br>
<!-- double negative, and too much logic for view -->
<% if !@user.guest.events.empty? %>
Events <%= @user.name %> is attending:
<ul>
<!-- move logic out of view -->
  <% @user.guest.upcoming_events.sort_by_day.each do |event| %>
  <li>
  <%= link_to event.title,event_path(event) %>: <%= event.description %> (<%= event.day %>) <br>
  </li>
    <% end %>
  <% else %>
  <%= @user.name %> is currently not attending any events. Boooring!
  <%end %>
                
</ul>
<br>
<br>
<!-- dont use a double negative -->
<% if !@user.host.events.empty? %>
Events <%= @user.name %> is hosting:
<ul>
  <% @user.host.upcoming_events.sort_by_day.each do |event| %>

  <li>
  <%= link_to event.title,event_path(event) %>: <%= event.description %> (<%= event.day %>) <br>
  </li>
    <% end %>
  <% else %>
  <%= @user.name %> is currently not hosting any events.
  <%end %>
</ul> 
<br>
<br>
<!-- Again, no double negative -->
<!-- This view has a good amount of logic - consider moving to view object -->
<!-- also use partials for all of these if blocks, then I believe refactoring into a view object could really clean this up -->
<% if !@user.guest.past_events.empty? %>
Events <%= @user.name %> has attended:
<ul>
<% @user.guest.past_events.sort_by_day.each do |event| %>
  <li>
  <%= link_to event.title,event_path() %>: <%= event.description %> (<%= event.day %>) <br>
  </li>
<% end %>
<% else %>
  <%= @user.name %> has not attended any events.
<% end %>
</ul>
<br>
<br>
<% if !@user.host.past_events.empty? %>
Events <%= @user.name %> has hosted:
<ul>
<% @user.host.past_events.sort_by_day.each do |event| %>
  <li>
  <%= link_to event.title,event_path(event) %>: <%= event.description %> (<%= event.day %>) <br>
  </li>
<% end %>
<% else %>
  <%= @user.name %> has not hosted any events.
<% end %>
</ul> 
<br>
<br>

<% if @user==current_user %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Back', users_path %>

